:root {
    --main-text-color: #ffffff;
    --second-text-color: #00ffff;
    --main-box-shadow: #0000004d 0rem 1.18rem 2.4rem, #00000038 0rem 0.9rem 0.75rem;
    --first-temp-color: #1b3705;
    --second-temp-color: #2a5f14;
    --third-temp-color: #338b28;
    --fourth-temp-color: #2dc325;
    --fifth-temp-color: #eafa00;
    --sixth-temp-color: #f4f701;
    --seventh-temp-color: #eb4040;
    --eighth-temp-color: #e63533;
    --ninth-temp-color: #e02825;
    --tenth-temp-color: #da1915;
    --first-hum-color: #00ffe5;
    --second-hum-color: #00f7ff;
    --third-hum-color: #00aeff;
    --fourth-hum-color: #0051ff;
    --fifth-hum-color: #094ad4;
    --sixth-hum-color: #0004ff;
    --seventh-hum-color:#3b0de2;
    --eighth-hum-color: #2b0aa3;
    --ninth-hum-color: #2a0e91;
    --tenth-hum-color: #1c0865;
    }

body {
    font-family: 'Aktiv_Grotesk_Ex_Medium', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    transition: 0.2s ease-in;
}

ul {
    list-style: none;
}

header {
    margin-bottom: 8rem;
}

@font-face {
    font-family: 'Aktiv_Grotesk_Ex_Medium';
    src: url('../font/aktiv_grotesk_ex_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* HEADER */
/* -- Hamburger fold-out menu (responsive) */
#burger_header,
#burger_header-user {
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: flex-end;
    align-items: center;
}

#burger-btn__header i,
#burger-btn__header-user i {
    font-size: 3rem;
    margin: 2rem;
}

#burger_header nav,
#burger_header-user nav {
    position: relative;
    width: 100%;
}

#burger_header nav ul,
#burger_header-user nav ul {
    list-style-type: none;
    position: absolute;
    bottom: -8rem;
    left: -100vw;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s;
}

#burger_header nav ul.active,
#burger_header-user nav ul.active {
    left: 0rem;
    transition: all 0.5s;
}

#burger_header nav ul li,
#burger_header-user nav ul li {
    padding: 0.8rem 1.6rem;
}

.fa-right-to-bracket {
    font-size: 2rem;
}

/* -- Bordeaux Météo logo */
.bordeaux-meteo__logo {
    width: 26rem;
}

/* FOOTER */
/* Bordeaux Météo logo (responsive) */
.bordeaux-meteo__logo-responsive {
    display: none;
}

.lepetit-company__content {
    margin-top: 5rem;
    font-size: 0.9rem;
    text-align: center;
}

/* HOME PAGE */
/* -- Main content */
.main__content {
    padding: 2rem;
    background: url("../img/bordeaux_sky.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

/* -- H1 title */
.meteorological-data__content h1 {
    font-size: 2rem;
    margin-bottom: 5rem;
}

/* -- Upper data content */
.bordeaux-meteo__small-logo {
    font-size: 2rem;
    border: 0.1rem solid var(--main-text-color);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-one {
    border: 0.2rem solid var(--first-hum-color);
}

.border-two {
    border: 0.2rem solid var(--second-hum-color);
}

.border-three {
    border: 0.2rem solid var(--third-hum-color);
}

.border-four {
    border: 0.2rem solid var(--fourth-hum-color);
}

.border-five {
    border: 0.2rem solid var(--fifth-hum-color);
}

.border-six {
    border: 0.2rem solid var(--sixth-hum-color);
}

.border-seven {
    border: 0.2rem solid var(--seventh-hum-color);
}

.border-eight {
    border: 0.2rem solid var(--eighth-hum-color);
}

.border-nine {
    border: 0.2rem solid var(--ninth-hum-color);
}

.border-ten {
    border: 0.2rem solid var(--tenth-hum-color);
}

.color-green-one {
    background-color: var(--first-temp-color);
}

.color-green-two {
    background-color: var(--second-temp-color);
}

.color-green-three {
    background-color: var(--third-temp-color);
}

.color-green-four {
    background-color: var(--fourth-temp-color);
}

.color-yellow-one {
    background-color: var(--fifth-temp-color);
}

.color-yellow-two {
    background-color: var(--sixth-temp-color);
}

.color-red-one {
    background-color: var(--seventh-temp-color);
}

.color-red-two {
    background-color: var(--eighth-temp-color);
}

.color-red-three {
    background-color: var(--ninth-temp-color);
}

.color-red-four {
    background-color: var(--tenth-temp-color);
}

.upper-data__content p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.upper-data__content h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* -- Share buttons */
.share_btns {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.fa-twitter {
    margin: 0 0.5rem;
}

/* -- Data content at the middle of the page */
.middle-data__content {
    display: flex;
    justify-content: center;
}

/* H2 titles */
.middle-data__content h2 {
    font-size: 1.2rem;
    margin: 2rem 0 1rem 0;
}

.middle-data__content--margin-lr {
    margin: 0 1.5rem 5rem 1.5rem;
}

.sensor-name {
    margin-bottom: 1rem;
}

.humidity-temperature__data {
    border: 0.1rem solid var(--main-text-color);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.humidity-temperature__data article {
    padding: 1.5rem 0;
}

.humidity-temperature__data article:first-child {
    padding-right: 4rem;
}

.humidity-temperature__data i {
    font-size: 2.7rem;
}

.humidity-temperature__data h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0;
}

.humidity-temperature__data p {
    font-size: 1.3rem;
    font-weight: bold;
}

#humidity__data,
#temperature__data {
    border: 0.1rem solid var(--main-text-color);
    border-radius: 50%;
    width: 4.9rem;
    height: 4.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- Map for the localization of the sensors */
#map {
    width: 30rem;
    height: 30rem;
    border: 0.1rem solid transparent;
    border-radius: 1rem;
}

.map-legend__content {
    margin-top: 1rem;
}

.map-legend__content p:nth-child(2) {
    margin: 0.5rem 0;
    }

.first-sensor {
    color: #861010;
}

.second-sensor {
    color: #0f0fac;
}

.third-sensor {
    color: #0c570c;
}

.humidity-temperature__data-table i {
    font-size: 1.5rem;
}

/* -- Chart */

.chart-responsive__content {
    display: none;
}

#chart {
    background-color: white;
    width: 30rem;
    display: flex;
    justify-content: center;
    margin: 0 10rem;
    box-shadow: var(--main-box-shadow);
}

/* LOGIN AND REGISTRATION FORM PAGES */
/* -- LOGIN ALERT MESSAGE */
.alert-danger {
    margin-bottom: 2rem;
}

/* -- Inputs */
.form-control {
    font-size: 1.2rem;
    border: 0.1rem solid transparent;
    border-bottom: 0.1rem solid var(--main-text-color);
    border-radius: 0rem;
}

.form-control {
    margin-bottom: 3rem;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 0.1rem solid transparent;
    border-bottom: 0.1rem solid var(--second-text-color);
}

/* -- Submit button */
.btn-primary {
    display: grid;
    border: 0.1rem solid var(--main-text-color);
    border-radius: 0rem;
    padding: 0.6rem 2rem;
}

.btn-primary:hover {
    border: 0.1rem solid var(--second-text-color);
}

/* -- Aside content if registration is needed */
.login-aside__content p:first-child {
    margin-bottom: 0.5rem;
}

.login-aside__content aside {
    margin-top: 6rem;
}

.login-aside__content aside a {
    text-decoration: underline;
}

/* USER PAGE */
/* -- Main content */
.user__content--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__content {
    font-size: 1.2rem;
}

.user__content p {
    margin-bottom: 1rem
}

/* -- User forms */
.user__content-form {
    border: 0.1rem solid var(--main-text-color);
    border-radius: 1.5rem;
    padding: 4rem;
    margin: 2rem;
}

.user__content-form {
    white-space: nowrap;
}

/* -- H2 & H3 titles */
.user__content-form h2 {
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

/* -- Labels, inputs & buttons */
.user__content label {
    font-size: 1.1rem;
}

.sensors-data__content {
    margin-top: 3rem;
}

.sensors-data__content h2 {
    margin-bottom: 0.5rem;
}

.form-group__margin--top {
    margin-top: 3rem;
}

/* ERROR 404 PAGE */
.error-404__content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.error-404__content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.error-404__content p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* COMMON CONTENT FOR THE PAGES */
body,
a,
.form-control,
.form-control::placeholder,
.humidity-temperature__data-table tbody,
#login-email,
#login-password,
#registration-fname,
#registration-lname,
#registration-address,
#registration-email,
#registration-password,
#sensors-name {
    color: var(--main-text-color);
}

a:hover,
.login-aside__content aside a:hover {
    color: var(--second-text-color);
}

.form-control,
.form-control:focus,
.btn-primary,
.btn-primary:hover,
.humidity-temperature__data-table thead,
.humidity-temperature__data-table tbody,
.sensors__data-table,
#login-btn:active,
#registration-btn:active {
    background: transparent;
}

.login-aside__content h1,
.registration__content h1,
.user__content h1 {
    font-size: 1.5rem;
    margin-bottom: 7rem;
}

.alert-danger,
.meteorological-data__content h1,
.user__content p,
.share_btns,
.upper-data__content,
.middle-data__content h2,
.humidity-temperature__data,
.humidity-temperature__data-table,
.sensor-name,
.sensors-data__content h2,
.map-legend__content p,
.login-aside__content h1,
.login-aside__content aside,
.registration__content h1,
.user__content h1,
.user__content h2,
.sensors__data-table,
.error-404__content {
    text-align: center;
}

.login-aside__content,
.registration__content {
    width: 36rem;
}

#map,
#humidity__data,
#temperature__data,
.upper-data__content i,
.sensors__data-table,
.login-aside__content,
.registration__content,
.btn-primary {
    margin: auto;
}

#humidity__data,
#temperature__data,
#map,
.humidity-temperature__data,
.humidity-temperature__data-table,
.user__content-form {
    box-shadow: var(--main-box-shadow);
}

.humidity-temperature__data-table,
.sensors__data-table {
    border: 0.1rem solid var(--main-text-color);
    border-collapse: collapse;
}

.humidity-temperature__data-table th,
.humidity-temperature__data-table td,
.sensors__data-table th,
.sensors__data-table td {
    vertical-align: middle;
    padding: 0.97rem;
}

.humidity-temperature__data-table td,
.sensors__data-table td {
    border-right: 0.1rem solid var(--main-text-color);
}

/* MEDIAS QUERIES */
@media only screen and (max-width: 1400px) {
    /* USER PAGE */
}

@media only screen and (max-width: 1200px) {
    .user__content--flex {
        flex-direction: column;
    }

    /* HOME PAGE */
    .humidity-temperature__data article {
        padding: 1.3rem 0;
    }

    .humidity-temperature__data-table {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 992px) {
    /* HOME PAGE */
    .middle-data__content {
        align-items: center;
        flex-direction: column;
    }

    .middle-data__content--margin-lr:first-child {
        padding: 0;
    }

    .middle-data__content--margin-lr:last-child {
        padding: 1.5rem 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .sensors__form {
        margin: 1rem 0 0 0;
    }

    .main__content {
        background-size: cover;
    }

    /* HEADER */
    header {
        margin-bottom: 9rem;
    }

    .bordeaux-meteo__logo {
        display: none;
    }

    .bordeaux-meteo__logo-responsive {
        display: block;
        margin: auto;
        width: 60%;
        margin-top: 4rem;
    }

    .lepetit-company__content {
        margin-top: 2rem;
    }

    /* HOME PAGE */
    #map {
        width: 25rem;
        height: 25rem;
    }

    .humidity-temperature__data {
        padding: 0 1rem;
    }

    .chart__content {
        display: none;
    }

    .chart-responsive__content {
        display: block;
    }

    .chart__img {
        display: block;
        width: 31rem;
        height: 17rem;
        margin: auto;
    }

    /* LOGIN AND REGISTRATION PAGE */
    .login-aside__content,
    .registration__content {
        padding-bottom: 5rem;
    }

    .login-aside__content,
    .registration__content {
        width: 30rem;
    }

    .nav-bar {
        display: none;
    }

    .user__content--flex header {
        white-space: normal;
    }

    /* USER PAGE */
    .user__content-form {
        padding: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    /* HEADER */
    /* Hamburger fold-out menu */
    #burger-btn__header,
    #burger-btn__header-user {
        display: none;
    }

    #burger_header nav ul,
    #burger_header-user nav ul {
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: inherit;
        left: inherit;
    }
}

@media screen and (max-width: 576px) {
    /* LOGIN AND REGISTRATION PAGES */
    .humidity-temperature__data-table {
        font-size: 0.7rem;
    }

    .login-aside__content,
    .registration__content {
        width: 20rem;
    }

    .sensors__data-table {
        font-size: 0.7rem;
    }

    .sensors__data-table th,
    .sensors__data-table td {
    padding: 0.7rem;
    }

    #map {
        width: 22rem;
        height: 22rem;
    }

    .chart__img {
        display: block;
        width: 20rem;
        height: 17rem;
        margin: auto;
    }
}