{% extends "layout.html" %}
{% block title %} Accueil {% endblock %}

{% block body %}
    <main>
        <section class="meteorological-data__content">
            <h1>Données météorologiques</h1>
            <article class="upper-data__content">
                <i class="fa-solid fa-cloud-bolt"></i>
                <p>Orage</p>
                <h2>{{ day }}/{{ month }}/{{ year }}</h2>
            </article>

            <aside class="share_btns">
                <a class="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a class="twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a class="reddit" target="_blank"><i class="fa-brands fa-reddit"></i></a>
            </aside>
    
            <article class="middle-data__content">  
                <article class="middle-data__content--margin-lr">
                    <h2>Dernières données</h2>
                    <section class="humidity-temperature__data">
                        <article>
                            {% for row_data in last_data %}
                            <i class="fa-solid fa-droplet"></i>
                            <h3>Humidité</h3>
                            <p>{{ row_data.0 }}%</p>
                        </article>
                        <article>
                            <i class="fa-solid fa-temperature-three-quarters"></i>
                            <h3>Température</h3>
                            <p>{{ row_data.1 }}°C</p>
                            {% endfor %}
                        </article>
                    </section>
                    <p><img src="{{ url_for('static', filename='img/sensors_map.jpg') }}" class="sensors-map__img" alt="google maps image"></p>
                </article> 

                <article class="middle-data__content--padding-lr">
                    <h2>Historique</h2>
                    <table class="humidity-temperature__data-table">
                        <thead>
                            <tr>
                                <th><i class="fa-solid fa-droplet"></i></th>
                                <th><i class="fa-solid fa-temperature-three-quarters"></i></th>
                                <th><i class="fa-solid fa-clock"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row_data in last_10_data %}
                            <tr>
                                <td>{{ row_data.0 }}%</td>
                                <td>{{ row_data.1 }}°C</td>
                                <td>{{ row_data.2 }}h</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>                                       
                </article>
            </article>
        </section>   
    </main>
{% endblock %}
