{% extends "layout.html" %}
{% block title %} Accueil {% endblock %}

{% block body %}
    <main>
        <section class="meteorological-data__content">
            <h1>Données météorologiques</h1>
            <article class="upper-data__content">
                <p class="la"><i class="fa-solid bi-microsoft bordeaux-meteo__small-logo"></i></p>
                <div class="container">
                    <p id="humidity-info__sentence"></p>
                    <p id="temperature-info__sentence"></p>
                </div>
                <h2>{{ day }}/{{ month }}/{{ year }}</h2>
            </article>

            <aside class="share_btns">
                <a class="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a class="twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a class="reddit" target="_blank"><i class="fa-brands fa-reddit"></i></a>
            </aside>
    
            <article class="middle-data__content">  
                <section class="middle-data__content--margin-lr">
                    <h2>Dernières données</h2>
                    <article class="humidity-temperature__data">
                        <article>
                            {% for row_data in last_data %}
                            <i class="fa-solid fa-droplet"></i>
                            <h3>Humidité (%)</h3>
                            <p id="humidity__data">{{ row_data.0 }}</p>
                        </article>
                        <article>
                            <i class="fa-solid fa-temperature-three-quarters"></i>
                            <h3>Température (°C)</h3>
                            <p id="temperature__data">{{ row_data.1 }}</p>
                            {% endfor %}
                        </article>
                    </article>
                    <article>
                        <div id="map"></div>
                        <aside class="map-legend__content">
                            <p><i class="fa-solid fa-circle first-sensor"></i> Capteur 1</p>
                            <p><i class="fa-solid fa-circle second-sensor"></i> Capteur 2</p>
                            <p><i class="fa-solid fa-circle third-sensor"></i> Capteur 3</p>
                        </aside>                    
                    </article>
                </section> 

                <article class="middle-data__content--margin-lr">
                    <h2>Historique</h2>
                    <table class="humidity-temperature__data-table">
                        <thead>
                            <tr>
                                <th><i class="fa-solid fa-droplet"></i></th>
                                <th><i class="fa-solid fa-temperature-three-quarters"></i></th>
                                <th><i class="fa-solid fa-clock"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row_data in last_15_data %}
                            <tr>
                                <td>{{ row_data.0 }}%</td>
                                <td>{{ row_data.1 }}°C</td>
                                <td>{{ row_data.2 }}h</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>                                       
                </article>
            </article>
        </section>
    </main>
{% endblock %}
