{% extends "base.html" %}
{% block title %} Création de compte {% endblock %}

{% block body %}
    <main>
        <section class="registration__content">
            {% if message is defined and message %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            <article>
                <h1>Création de compte</h1>
                <form action="{{ url_for('__inscription_page') }}" method="POST" autocomplete="on">
                    <div class="form-group">
                        <input type="text" class="form-control" id="registration-fname" name="registration-fname" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="registration-lname" name="registration-lname" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="registration-address" name="registration-address" placeholder="Adresse">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="registration-email" name="registration-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="registration-password" name="registration-password" placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="btn btn-primary" id="registration-btn">Créer un compte</button>
                </form>
            </article>
        </section>
    </main>
{% endblock %}