{% extends "user_base.html" %}
{% block title %} Espace utilisateur {% endblock %}

{% block body %}
    <main>
        <section class="user__content">
            <h1>Espace utilisateur</h1>

            {% if session['Prenom_Utilisateur'] %}
            <p>Bienvenue {{ session['Prenom_Utilisateur']}} !</p>
            {% endif %}
    
            <article class="user__content--flex">
                <form class="user__content-form">
                    <h2>Gérer mes seuils d'alerte</h2>
                    <div class="form-group">
                        <label for="temperature-limit">Seuil de températures</label>
                        <select class="form-control" id="temperature-limit">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group form-group__margin--top">
                        <label for="humidity-limit">Seuil d'humidité</label>
                        <select class="form-control" id="humidity-limit">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group form-group__margin--top">
                        <label for="email-frequency">Fréquence d'envoi des mails</label>
                        <select class="form-control" id="email-frequency">
                            <option>1 fois/semaine</option>
                            <option>2 fois/semaine</option>
                            <option>3 fois/semaine</option>
                            <option>4 fois/semaine</option>
                            <option>5 fois/semaine</option>
                        </select>
                    </div>
                    <div class="form-group form-group__margin--top">
                        <label for="receiver-frequency">Choix des destinataires</label>
                        <select class="form-control" id="receiver-frequency">
                            <option>Martin Dupont</option>
                            <option>Amanda Robert</option>
                            <option>Simon Vallin</option>
                            <option>Roger Beaufils</option>
                            <option>Xavier Junio</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            <article>
    
            <article class="user__content--flex">
                <form action="{{ url_for('__data_management_page') }}" method="POST" class="user__content-form sensors__form ">
                    <header>
                        <h2>Modifier le nom des capteurs</h2>
                    </header>
                    {% for row_data in all_sensors %}
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="sensors-id" id="sensors-id" value="{{ row_data.0 }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sensors-name" id="sensors-name" value="{{ row_data.1 }}">
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            <article>
        </section>

        <section>
            <article class="sensors-data__content">
                <h2>Les différents capteurs</h2>
                <table class="sensors__data-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Création</i></th>
                            <th>Id receiver</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row_data in all_sensors_displayed %}
                        <tr>
                            <td>{{ row_data.0 }}</td>
                            <td>{{ row_data.1 }}</td>
                            <td>{{ row_data.2 }}</td>
                            <td>{{ row_data.3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
    </main>
{% endblock %}
