<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce80081662.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon/BM_logo_window.ico') }}" />
    <title>{% block title %} {% endblock %}</title>
</head>

<body class="main__content">
    <header id="burger_header-user">
        <p><img src="{{ url_for('static', filename='img/BM_white_logo.png') }}" class="bordeaux-meteo__logo" alt="Bordeaux Météo logo"></p>
        <nav>
            <div id="burger-btn__header-user" class="container-fluid">
                <i class="bi bi-microsoft"></i>
            </div>
            <ul>
                <li><a href="{{ url_for('__logout') }}"><i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
            </ul>
        </nav>
    </header>

    {% block body %}{% endblock %}

    <footer>
        <p><img src="{{ url_for('static', filename='img/BM_white_logo.png') }}" class="bordeaux-meteo__logo-responsive" alt="Bordeaux Météo logo"></p>
    </footer>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>